@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout1</title>
    <base href="/"/>
</head>
<body style="background: rebeccapurple; padding: 100px;">
<h1>RootLayout2</h1>
@Body

<script src="_framework/blazor.web.js"></script>
</body>
</html>